.jumbotron{
  border-radius:0px!important;
  /* box-shadow:1px 1px 4px rgba(0,0,0,0.4); */
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-image: url('../../assets/images/bg.jpeg');
  position: relative;
  min-height: 430px;
}

.jumbotron .btn{
  border-radius:0px!important;
  box-shadow:1px 1px 4px rgba(0,0,0,0.4);
  padding:10px 40px;
}
