<div class="container">
  <div class="row mt-5">
    <div class="jumbotron">
      <h1>Welcome</h1>
      <p class="my-3">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque
        nunc est, tempus et venenatis id, ornare sed lorem.Curabitur sed ipsum
        et odio interdum pharetra nec sed libero. Sed velit massa, consectetur
        in mollis eget, elementum eu diam.
      </p>
      <p><a class="btn btn-primary btn-lg" [routerLink]="['/register']">Register</a></p>
    </div>
  </div>
</div>
